::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  background: #e2e8f0;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #2563eb, #0ea5e9);
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1d4ed8;
}

* {
  scrollbar-width: thin;
}
